<div class="center"><h1>Wellcome to Sample App</h1>
<p>This is homepage for <%= link_to "Ruby on Rails Tutrial", "#" %> sample application</p>
<%= link_to "Sign up now", "#", class: "btn btn-primary login-but" %>
</div>