<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">Ruby on Rails Tutrial © 2018 Copyright:
    <a href="http://xem.vn/"> Xem.vn</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->